@font-face {
  font-family: Newake;
  src: url(Fonts/NewakeFont-Demo.otf)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.trex_nav {
  font-family: Newake;
  font-weight: 60;
  position: absolute;
  top: 0;
  left: 0;
  margin: 17px auto auto 2.3em;
  font-size: 40px;
  color: #202445
}
.tge {
  font-weight: 60;
  font-family: Newake;
  position: absolute;
  margin-top: .5em;
  font-size: 96px;
  display: inline-block;
  width: 493px;
  height: 265px;
  margin-left: .4em;
  color: #202445
}
.headimg {
  width: 100%;
  position: absolute;
  z-index: -1
}
.logo {
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  height: 65px;
  width: auto;
  margin-top: 3.2px;
  margin-left: 0
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 27px;
  width: 80%;
  height: 65px;
  background-color: #fff;
  margin: 10px auto auto 10%;
  box-shadow: 0 4px 104px rgba(0,0,0,.25)
}
ul {
  position: relative;
  display: flex;
  margin: 0 0 0 50%;
  padding: 0 30px;
  list-style-type: none;
  color: #202445
}
ul li {
  padding: 15px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 25px;
  color: #202445
}
ul li a {
  text-decoration: none;
  color: #202445
}
.glass {
  top: 242px;
  left: 175px;
  border-radius: 43px;
  background: linear-gradient(132.94deg,rgba(255,255,255,.52) 17.44%,rgba(255,255,255,.1));
  box-shadow: 0 4px 4px rgba(0,0,0,.25),0 4px 4px rgba(0,0,0,.25);
  height: 509px;
  position: absolute;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 457px;
  margin-left: 5em
}
@media only screen and (min-width:768px) {
  ul {
    margin-left: 30%
  }
}
.signupbx {
  background-color: #ff5737;
  border-radius: 13px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center
}
.glassp {
  font-family: Roboto,sans-serif;
  color: #fff;
  position: absolute;
  margin-top: 17em;
  margin-left: 2.2em;
  stroke: #202445
}
.glassbag {
  background-color: #ff5737;
  border-radius: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  width: 196px;
  margin-left: 1em
}
.glassbag a {
  text-decoration: none;
  font-family: Newake;
  color: #202445;
  text-align: center;
  padding: 0
}
.glassw {
  background-color: #ff5737;
  border-radius: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  width: 129px;
  margin-right: 40px
}
.glassw a {
  text-decoration: none;
  font-family: Newake;
  color: #202445;
  align-items: center
}
.glasscta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25em;
  margin-left: 1em;
  margin-right: 0
}
video {
  position: absolute;
  height: 300px;
  width: auto;
  top: 446px;
  left: 1150px;
  border-radius: 20px;
  box-shadow: 0 4px 104px rgba(0,0,0,.35)
}
#pause-button,
#play-button {
  position: absolute;
  top: 750px;
  left: 1380px
}
.linbr {
  background-color: #202445;
  height: 17px;
  width: 100%;
  position: absolute;
  top: 668px
}
.serv {
  font-weight: 50;
  font-family: Newake;
  font-size: 32px;
  color: #202445;
  position: absolute;
  left: 45%;
  top: 718px
}
.focusorange {
  height: 9px;
  background-color: #ff5737;
  width: 58px;
  border-radius: 15px;
  position: absolute;
  left: 45%;
  top: 718px
}
.serv1,
.serv2,
.serv3 {
  height: 370px;
  width: 325px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 10px 23px 51px -14px rgba(0,0,0,.5)
}
.serv1 {
  position: absolute;
  top: 860px;
  left: 13%
}
.serv2 {
  position: absolute;
  top: 860px;
  left: 40%
}
.serv3 {
  position: absolute;
  top: 860px;
  left: 67%
}
.serv1img,
.serv2img,
.serv3img {
  height: 90px;
  position: absolute;
  top: 25px;
  left: 98px
}
.cm,
.cp {
  font-family: Newake;
  font-size: 28px;
  color: #202445;
  position: absolute;
  top: 144px;
  left: 64px
}
.bk {
  font-family: Newake;
  font-size: 28px;
  color: #202445;
  position: absolute;
  top: 144px;
  left: 95px
}
.cm {
  font-family: Newake;
  font-size: 28px;
  color: #202445;
  position: absolute;
  top: 144px;
  left: 78px
}
.bkp,
.cmp,
.cpp {
  font-family: Roboto,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #202445;
  position: absolute;
  top: 162px;
  left: 4px;
  padding: 30px
}
.cpd {
  background-color: #ff5737
}
.cpcta a {
  text-decoration: none;
  font-family: Newake;
  color: #202445;
  align-items: center
}
.cpcta {
  background-color: #ff5737;
  border-radius: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 22px;
  width: 150px;
  top: 310px;
  left: 76px
}
.bkcta a {
  text-decoration: none;
  font-family: Newake;
  color: #202445;
  align-items: center
}
.bkcta {
  background-color: #ff5737;
  border-radius: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 22px;
  width: 170px;
  top: 310px;
  left: 73px
}
.cmcta a {
  text-decoration: none;
  font-family: Newake;
  color: #202445;
  align-items: center
}
.cmcta {
  background-color: #ff5737;
  border-radius: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 22px;
  width: 150px;
  top: 310px;
  left: 80px
}
.linbr1 {
  background-color: #202445;
  height: 17px;
  width: 100%;
  position: absolute;
  top: 1312px
}
.aboutus {
  font-weight: 50;
  font-family: Newake;
  font-size: 32px;
  color: #202445;
  position: absolute;
  left: 45%;
  top: 994px
}
.focusorange1 {
  height: 9px;
  background-color: #ff5737;
  width: 58px;
  border-radius: 15px;
  position: absolute;
  left: 47%;
  top: 1401px
}
.aboutusorbg {
  height: 406px;
  background-color: #ff5737;
  width: 666px;
  border-radius: 40px;
  position: absolute;
  left: 25%;
  top: 1481px
}
.founder {
  position: absolute;
  top: 16px;
  transform: scaleY(-1) rotate(180deg);
  height: 390px;
  width: auto
}
.aboutuswhbg {
  background-color: #fff;
  height: 359px;
  width: 259px;
  position: absolute;
  top: 26px;
  left: 362px;
  border-radius: 13px;
  box-shadow: 10px 23px 51px -14px rgba(0,0,0,.5)
}
.auname {
  font-family: Newake;
  font-weight: 60;
  font-size: 64px;
  color: #202445;
  position: absolute;
  top: 40px;
  left: 378px
}
.aulogo {
  position: absolute;
  top: 160px;
  left: 345px;
  height: 61px;
  width: auto
}
.aufo {
  font-family: "News Cycle",sans-serif;
  color: #202445;
  position: absolute;
  top: 185px;
  left: 425px
}
.aup {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  padding: 20px;
  position: absolute;
  top: 180px
}
.aup1 {
  font-family: Roboto,sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #393939;
  text-align: center;
  padding-right: 200px;
  position: absolute;
  top: 1920px;
  left: 25%
}
.aup2 {
  font-family: Roboto,sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #393939;
  text-align: center;
  padding-right: 180px;
  position: absolute;
  top: 1990px;
  left: 24%
}
.ftdiv {
  position: absolute;
  top: 2107px;
  left: 0;
  background: linear-gradient(95.16deg,rgba(255,87,55,.6),rgba(152,193,217,.2));
  width: 100%;
  height: 380px
}
.footer_trex {
  font-family: Newake;
  font-weight: 60;
  position: absolute;
  top: 60px;
  left: 200px;
  font-size: 30px;
  color: #202445
}
.footer_logo {
  position: absolute;
  top: 48px;
  left: 131px;
  height: 50px;
  width: auto
}
.ft_sub {
  font-family: "News Cycle",sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #202445;
  position: absolute;
  top: 130px;
  left: 170px
}
.ft_email {
  border-radius: 27px;
  border: none;
  outline: 0;
  background: #fff;
  height: 40px;
  width: 230px;
  position: absolute;
  top: 150px;
  left: 163px
}
input[type=email] {
  padding: 20px
}
.ft_submit {
  font-family: Newake;
  background-color: #fff;
  cursor: pointer;
  color: #202445;
  position: absolute;
  top: 150px;
  left: 430px;
  height: 40px;
  width: 90px;
  border: #fff;
  border-radius: 27px
}
.links {
  position: absolute;
  display: flex;
  top: 70px;
  left: 1100px;
  margin: 0;
  padding: 0 30px;
  list-style-type: none
}
.links a img {
  margin-left: 10px;
  list-style-type: none;
  height: 25px;
  width: auto
}
.ft_ser {
  font-size: 26px;
  font-family: Newake;
  position: absolute;
  top: 140px;
  left: 650px;
  color: #202445;
  font-weight: 60
}
.ser_li {
  padding: 8px;
  font-family: "News Cycle",sans-serif;
  font-size: 15px
}
.ser_ul {
  margin: 0;
  position: absolute;
  top: 170px;
  left: 607px;
  display: block
}
.ft_h {
  font-size: 26px;
  font-family: Newake;
  position: absolute;
  top: 140px;
  left: 650px;
  color: #202445;
  font-weight: 60
}
.hel_li {
  padding: 8px;
  font-family: "News Cycle",sans-serif;
  font-size: 15px
}
.hel_ul {
  margin: 0;
  position: absolute;
  top: 170px;
  left: 607px;
  display: block
}
.ft_help {
  position: absolute;
  left: 250px
}
.ft_au {
  font-size: 26px;
  font-family: Newake;
  position: absolute;
  top: 140px;
  left: 650px;
  color: #202445;
  font-weight: 60
}
.au_li {
  padding: 8px;
  font-family: "News Cycle",sans-serif;
  font-size: 15px
}
.au_ul {
  margin: 0;
  position: absolute;
  top: 170px;
  left: 607px;
  display: block
}
.ft_about {
  position: absolute;
  left: 500px
}
.Copyright {
  font-family: "News Cycle",sans-serif;
  font-size: 13px;
  position: absolute;
  top: 350px;
  left: 40%
}
@media only screen and (min-width:690px) {
  .glass {
    top: 132px;
    width: 1084px;
    height: 488px;
    left: 58px
  }
  .tge {
    font-size: 70px
  }
  .serv {
    font-weight: 50;
    font-family: Newake;
    font-size: 32px;
    color: #202445;
    position: absolute;
    left: 42%;
    top: 11px
  }
  .focusorange {
    position: absolute;
    left: 47%;
    top: 44px
  }
  .serv1 {
    position: absolute;
    top: 87px;
    left: 3%
  }
  .serv2 {
    position: absolute;
    top: 87px;
    left: 35%
  }
  .serv3 {
    position: absolute;
    top: 87px;
    left: 67%
  }
  .serv1img {
    height: 90px;
    position: absolute;
    top: 25px;
    left: 98px
  }
  .linbr1 {
    top: 1312px
  }
  .aboutus {
    font-weight: 50;
    font-family: Newake;
    font-size: 32px;
    color: #202445;
    position: absolute;
    left: 45%;
    top: 1366px
  }
  .aboutusorbg {
    left: 25%;
    top: 1481px
  }
  .focusorange1 {
    left: 47%;
    top: 1401px
  }
  .aup1 {
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #393939;
    text-align: center;
    padding-right: 200px;
    position: absolute;
    top: 1920px;
    left: 25%
  }
  .aup2 {
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #393939;
    text-align: center;
    padding-right: 180px;
    position: absolute;
    top: 1990px;
    left: 24%
  }
  .ftdiv {
    top: 697px
  }
}
@media only screen and (min-width:1920px) {
  ul {
    margin-left: 50%
  }
  .glass {
    top: 169px;
    left: 175px;
    width: 1448px;
    margin-left: 3em;
    height: 609px
  }
  .glasscta {
    margin-top: 26em
  }
  .glassp {
    margin-top: 18em;
    margin-left: 2.2em
  }
  .vglass {
    top: 620px;
    left: 1150px
  }
  .tge {
    font-size: 90px;
    margin-left: .45em
  }
  .glassw {
    margin-right: 32px
  }
  .serv {
    font-weight: 50;
    font-family: Newake;
    font-size: 43px;
    color: #202445;
    position: absolute;
    left: 43%;
    top: 19px
  }
  .focusorange {
    position: absolute;
    left: 49%;
    top: 66px
  }
  .serv1 {
    position: absolute;
    top: 154px;
    left: 10%
  }
  .serv2 {
    position: absolute;
    top: 154px;
    left: 39%
  }
  .serv3 {
    position: absolute;
    top: 154px;
    left: 67%
  }
  .serv1img {
    height: 90px;
    position: absolute;
    top: 25px;
    left: 98px
  }
  .linbr1 {
    top: 1602px
  }
  .aboutus {
    font-weight: 50;
    font-family: Newake;
    font-size: 43px;
    color: #202445;
    position: absolute;
    left: 45%;
    top: 1661px
  }
  .aboutusorbg {
    left: 32%;
    top: 1803px
  }
  .focusorange1 {
    left: 48%;
    top: 1700px
  }
  .aup1 {
    font-size: 16px;
    top: 2246px;
    left: 31%
  }
  .aup2 {
    font-size: 16px;
    top: 2320px;
    left: 30%
  }
  .ftdiv {
    top: 972px
  }
  .ft_side {
    position: absolute;
    left: 350px
  }
  .links {
    position: absolute;
    left: 1370px
  }
  .links a img {
    height: 35px
  }
}